<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>National Coach</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/UpdateEmployeeAccStyleSheet.css">
    <link rel="stylesheet" type="text/css" href="~/Content/SideMenuStyleSheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <h2 id="pagename">Current Coach Stock</h2>
    </header>

    <!--Side Navigation Menu -->
    <div class="sideMenu">
        <button class="dropdown-btn">
            Employees
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-container">
            <a href="#">Create New Account</a>
            <a href="UpdateEmployeeAccount">Update Account</a>
            <a href="#">Retrieve Account</a>
            <a href="#">Archive Account</a>
        </div>

        <button class="dropdown-btn">
            Coaches
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-container">
            <a href="#">Create New Record</a>
            <a href="#">Update Coach </a>
            <a href="#" active>View Current Stock</a>
            <a href="#">Archive Coach </a>
        </div>

        <a href="#">Replacement Services</a>

        <button class="dropdown-btn">
            Timetables
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-container">
            <a href="#">Create New Timetable</a>
            <a href="#">Update Timetable</a>
            <a href="#">View Timetable</a>
            <a href="#">Archive Timetable</a>
        </div>

        <button class="dropdown-btn">
            Routes
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-container">
            <a href="#">Create New Route</a>
            <a href="#">Update Route</a>
            <a href="#">View Route</a>
            <a href="#">Archive Route</a>
        </div>

        <a href="#">Help</a>

        <a href="Login" id="signout">Sign Out</a>
    </div>
    <!--End of Side Navigation Menu-->
    <!--Main Form-->
    <div class="informationContainer">
    </div>
    <!-- Main Form Ends -->

    <footer>NationalCoach 2019</footer>

    <!--Scripts-->
    <script type="text/javascript" src="~/Scripts/SideMenuDropdown.js"></script>
    <script type="text/javascript" src="~/Scripts/HelpFunctionScript.js"></script>

</body>
</html>
